    <div class="container">
      <footer
        class="py-3 my-4 border-top w-100"
      >
        <p class="col-md-4 mb-0 text-center text-muted w-100">&copy; 2022 Qu1etboy</p>
      </footer>
    </div>
  </body>
</html>
