<%- include("../partials/head") %>

<div class="container px-5">
  <h3>About</h3>
  <p>เว็บไซต์นี้สร้างขึ้นมาเพื่อเรียนรู้การใช้งาน NodeJs ExpressJs ร่วมกับ MySQL เพื่อทําระบบ CRUD Application</p>
  <p>เว็บไซต์นี้เป็นเว็บไซต์สําหรับพูดคุยสิ่งที่คิดอยู่ในใจ และระบายมันออกมา โดยการโพสข้อความเป็นแบบไม่ระบุตัวตนนั่นคือไม่มีใครรู้ว่าคุณเป็นใคร</p>
  <p>สร้างขึ้นโดย <a href="https://github.com/qu1etboy" class="link" target="__blank">Non Weerawong (Qu1etboy)</a></p>
</div>

<%- include("../partials/footer") %>